.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.txt-centered {
    text-align: center;
}

.tweet-content-input.tweet-content-input, .tweet-content-input.tweet-content-input:focus {
  border-radius: 0%;
  border-width: 0px;
  border: none;
  border-style: none; 
  outline:none;
  background-color: black;
  color: #fff;
  font-size: x-large;
  height: 10em;
  width: 100%;
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.top-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 10px;
	background-color: #1da1f2;
  margin: 0 auto;
}

.logo img {
	height: 60px;
}

.logout form, .login form, .signup form {
  display: flex;
  align-items: center;
}

.logout button,  .login button, .signup button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
  margin: 0 auto;
  display: block;
}

.centered-form {
  margin: auto;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.centered-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.centered-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.centered-form input[type="submit"] {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  /* padding: 10px 20px 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

.centered-form input[type="submit"]:hover {
  background-color: #0c8bd6;
}

body {
  background-color: black;
  color: white;
}

.tweet {
  padding: 20px;
  margin-bottom: -1px;
  background-color: #333;
  border-style: solid;
  border-radius: 5px;
  border-color: #fff;
  border-width: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.tweet-username a, .tweet-content a {
  text-decoration: none;
}

.tweet-username a:hover, .tweet-content a:hover {
  text-decoration: underline;
}

.tweet-username a:not(.user-handle), .tweet-content a, .tweet-content a:hover {
  color: #fff;
}

.user-handle, .user-handle:hover {
  color: #888;
  font-weight: normal;
}

.tweet-username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-decoration: none;
}

.tweet-content {
  font-size: 16px;
  color: #555;
  text-decoration: none;
}

.tweet-timestamp {
  font-size: 14px;
  color: #888;
}