* {box-sizing: border-box;}

#memePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: none;
  min-width: 100%;
  width: 100%;
  background-color: #000;
}

#memeBackgrounds * {
  display: inline-block;
}

#memeBackgrounds {
  overflow: scroll;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form input {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

/* @media (min-width: 480.05px) and (max-width: 768px) */

.left-menu {
  display: grid;
  position: relative;
  grid-area: 3 / 2 / 27 / 4;
  /* grid-template-columns: 0 0 1.54052141rem 0 0 4.08173335rem 0 0 0.62681597rem 1.98253757rem 3.0023636rem 5.30245115rem; */
  /* grid-template-rows: 0 0 minmax(8.2316083rem, max-content) minmax(2.26538213rem, max-content) minmax(1.20122376rem, max-content) minmax(2.88050959rem, max-content) minmax(1.34945669rem, max-content) minmax(4.08173335rem, max-content) minmax(1.31771596rem, max-content) minmax(2.91225031rem, max-content) minmax(1.33141022rem, max-content) minmax(30.65125727rem, max-content); */
  grid-area: 4 / 2 / 29 / 4;
}

.search {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

.txt-centered {
    text-align: center;
}

.flit-content-input.flit-content-input, .flit-content-input.flit-content-input:focus {
  border-radius: 0%;
  border-width: 0px;
  border: none;
  border-style: none; 
  outline:none;
  background-color: black;
  color: #fff;
  font-size: x-large;
  height: 10em;
  width: 100%;
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.logo img {
	height: 60px;
}

/* .logout form, .login form, .signup form {
  display: flex;
  align-items: center;
} */

.logout button,  .login button, .signup button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 16px;
}

.centered-form {
  margin: auto;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.centered-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.centered-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.centered-form input[type="submit"] {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  /* padding: 10px 20px 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

.centered-form input[type="submit"]:hover {
  background-color: #0c8bd6;
}

body {
  background-color: black;
  color: white;
}

.flit {
  padding: 20px;
  margin-bottom: -1px;
  background-color: #000;
  border-style: solid;
  border-color: #555;
  border-width: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.flit-username a, .flit-content a {
  text-decoration: none;
}

.flit-username a:hover, .flit-content a:hover {
  text-decoration: underline;
}

.flit-username a:not(.user-handle), .flit-content a, .flit-content a:hover {
  color: #fff;
}

.user-handle, .user-handle:hover {
  color: #888;
  font-weight: normal;
}

.flit-username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-decoration: none;
}

.flit-content {
  font-size: 16px;
  color: #555;
  text-decoration: none;
}

.flit-timestamp {
  font-size: 14px;
  color: #888;
}
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.memeBg {
  padding: 0px;
  padding-left: 20px;
  transition: transform 250ms;
  border: none;
}

.memeBg:hover {
  transform: translateY(-10px);
  border: #000;
  border: 1px;
}

.search-form button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.search-form button svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

a {
  display: inline-block; max-width: 100px; vertical-align: middle;
}

#memeImages {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#memeImages > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#memeImages img {
  max-width: 100px;
  width: 9%;
}