{% extends "layout.html" %}

{% block title %}@{{ receiver_handle }} {% endblock %}

{% block body %}
  <h1>Direct Messages with {{ receiver_handle }}</h1>



  <h2>Messages</h2>
  {% for message in messages|reverse %}
    {% if message["profane_dm"] == "no" %}
      <strong>{{ message["sender_handle"] }}:</strong> {{ message["content"] }}
      <br>
    {% endif %}
  {% endfor %}
  <form action="{{ url_for('submit_dm', receiver_handle=receiver_handle) }}" method="POST">
    <input type="text" name="content" id="content" required placeholder="Message @{{ receiver_handle }}">
  </form>
{% endblock %}