<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div>
      <h1 class="u-full-width txt-centered">Tweeter</h1>
    </div>
    <div class="row">
      <div class="six columns offset-by-three">
        <form action="/submit_tweet" method="post">
          <div class="row">
            <div class="twelve columns">
              <label for="content">What's happening?</label>
              <input type="text" name="content" id="content" class="u-full-width" placeholder="Type your tweet here">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <button type="submit" class="button-primary">Tweet</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="six columns offset-by-three">
        <div class="text-center">
          {% for tweet in tweets %}
            <div class="row">
              <div class="twelve columns">
                <p>{{ tweet.content }}</p>
                <p><small>{{ tweet.timestamp }}</small></p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
