{% extends "layout.html" %}

{% block title %}Tweetor {% endblock %}

{% block body %}
<br>
<br>
<br>
{% if loggedIn %}
  <div class="row">
    <div class="six columns offset-by-three">
      <form action="/submit_tweet" method="post" id="post_tweet">
        <div class="row">
          <div class="twelve columns">
            <!-- {% if turbo %}
              <textarea name="content" id="content" class="tweet-content-input u-full-width" placeholder="What is happening?!" maxlength="10000" form="post_tweet"></textarea>
            {% else %}
              <textarea name="content" id="content" class="tweet-content-input u-full-width" placeholder="What is happening?!" maxlength="280" form="post_tweet"></textarea>
            {% endif %} -->
            <div name="field" id="field" role="textbox" contenteditable="true" aria-multiline="true" aria-labelledby="txtboxMultilineLabel" aria-required="true" class="tweet-content-input u-full-width" placeholder="What is happening?!" form="post_tweet">

            </div>
            <input type="hidden" name="content" id="tweet-input">
            <input type="text" name="hashtag" id="hashtag" class="u-full-width" placeholder="Hashtag">
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <button type="submit" class="button-primary">Tweet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endif %}
<br>
<br>
<br>
<div class="row">
  <div class="six columns offset-by-three">
    <div class="text-center tweets">
      {% for tweet in tweets %}
        <div class="row">
          <div class="twelve columns">
            <div class="tweet">
              <div class="tweet-username tweet-timestamp">
                <a href="/user/{{ tweet.userHandle }}">{{ tweet.username }}</a>&#160;&#160;
                <a href="/user/{{ tweet.userHandle }}" class="user-handle">@{{ tweet.userHandle }}</a>
                <span>&#160;·&#160;</span>
                <a href="/tweets/{{ tweet.id }}" class="user-handle">{{ tweet.timestamp|format_timestamp }}</a>
              </div>
              <div class="tweet-content">
                <a href="/tweets/{{ tweet.id }}">{{ tweet.content|format_tweet }} {{ tweet.hashtag }}</a>
              </div>
              <div class="tweet-timestamp">{{ tweet.timestamp }}</div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if turbo %}
<script>
  function formatTweet(content) {
    // Replace double asterisks (**) with HTML tags for bold
    let formattedContent = content.replace(/\*\*(.*?)\*\*/g, '**<strong>$1</strong>**');

    // Replace single asterisks (*) with HTML tags for italic
    formattedContent = formattedContent.replace(/(^|\W)\*(\w.*?)\*($|\W)/g, '$1*<em>$2</em>*$3');

    // Replace double underscores (__) with HTML tags for underlines
    formattedContent = formattedContent.replace(/__(.*?)__/g, '__<u>$1</u>__');
    return formattedContent;
  }
  console.log("You have Tweetor turbo");
</script>
{% else %}
<script>
  function formatTweet(content) {
    return content.replace('*', '');
  }
</script>
{% endif %}

<script>
  // Get the textarea element and the form input element
  const textarea = document.getElementById('field');
  const tweetInput = document.getElementById('tweet-input');

  textarea.addEventListener('input', function() {
    let content = textarea.innerText;
    
    const formattedContent = formatTweet(content);

    // Set the formatted content as the innerHTML of the textarea
    textarea.innerHTML = formattedContent;

    // Update the form input value with the formatted content
    tweetInput.value = content;

    // Move the cursor to the end of the textarea
    moveCursorToEnd(textarea);
  });

  // Function to move the cursor to the end of the textarea
  function moveCursorToEnd(element) {
    const range = document.createRange();
    const selection = window.getSelection();
    range.selectNodeContents(element);
    range.collapse(false);
    selection.removeAllRanges();
    selection.addRange(range);
    element.focus();
  }
</script>
{% endblock %}