{% extends "layout.html" %}

{% block title %}Tweetor {% endblock %}

{% block body %}
<br>
<br>
<br>
{% if loggedIn %}
  <div class="row">
    <div class="six columns offset-by-three">
      <form action="/submit_tweet" method="post" id="post_tweet">
        <div class="row">
          <div class="twelve columns">
            <textarea name="content" id="content" class="tweet-content-input u-full-width" placeholder="What is happening?!" maxlength="280" form="post_tweet"></textarea>
            <input type="text" name="hashtag" id="hashtag" class="u-full-width" placeholder="Hashtag">
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <button type="submit" class="button-primary">Tweet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endif %}
<br>
<br>
<br>
<div class="row">
  <div class="six columns offset-by-three">
    <div class="text-center tweets">
      {% for tweet in tweets %}
        <div class="row">
          <div class="twelve columns">
            <div class="tweet">
              <div class="tweet-username tweet-timestamp">
                <a href="/user/{{ tweet.userHandle }}">{{ tweet.username }}</a>&#160;&#160;
                <a href="/user/{{ tweet.userHandle }}" class="user-handle">@{{ tweet.userHandle }}</a>
                <span>&#160;·&#160;</span>
                <a href="/tweets/{{ tweet.id }}" class="user-handle">{{ tweet.timestamp|format_timestamp }}</a>
              </div>
              <div class="tweet-content">
                <a href="/tweets/{{ tweet.id }}">{{ tweet.content }} {{ tweet.hashtag }}</a>
              </div>
              <div class="tweet-timestamp">{{ tweet.timestamp }}</div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}