{% extends "layout.html" %}

{% block title %}Profane flits{% endblock %}

{% block body %}
<br>
<br>
<br>
{% for flit in profane_flit %}
  <div class="flit">
    <div class="flit-username flit-timestamp">
      <a href="/user/{{ flit.userHandle }}">{{ flit.username }}</a>&#160;&#160;
      <a href="/user/{{ flit.userHandle }}" class="user-handle">@{{ flit.userHandle }}</a>
      <span>&#160;·&#160;</span>
      <a href="/flits/{{ flit.id }}" class="user-handle">{{ flit.timestamp|format_timestamp }}</a>
    </div>
    <div class="flit-content">
      <a href="/flits/{{ flit.id }}">{{ flit.content|format_flit }} {{ flit.hashtag }}</a>
    </div>
  </div>
{% endfor %}
<h1>Profane Direct Messages</h1>
<ul>
  {% for message in profane_dm %}
    <li>
      <strong>{{ message["sender_handle"] }}:</strong> {{ message["content"] }}
    </li>
  {% endfor %}
</ul>

{% if turbo %}
<script>
  function formatflit(content, hashtag) {
    // Replace double asterisks (**) with HTML tags for bold
    let formattedContent = content.replace(/\*\*(.*?)\*\*/g, '<strong>\$1</strong>');

    // Replace single asterisks (*) with HTML tags for italic
    formattedContent = formattedContent.replace(/(^|\W)\*(\w.*?)\*($|\W)/g, '\$1<em>\$2</em>\$3');

    // Replace double underscores (__) with HTML tags for underlines
    formattedContent = formattedContent.replace(/__(.*?)__/g, '<u>\$1</u>');

    // Append the hashtag to the formatted content
    formattedContent += ' ' + hashtag;

    return formattedContent.trimEllip(10000);
  }
</script>
{% else %}
<script>
  function formatflit(content) {
    return content.replace('*', '').replace('_', '').trimEllip(280);
  }
</script>
{% endif %}

<script>
  String.prototype.trimEllip = function (length) {
    return this.length > length ? this.substring(0, length) : this;
  }
</script>
{% endblock %}
