{% extends "layout.html" %}

{% block title %}Signup {% endblock %}

{% block body %}
    <div class="container">
      <div class="centered">
        <div class="centered-form">
          <h2>Signup for Tweeter</h2>
          <form method="POST" action="{{ url_for('signup') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="passwordConformation">Password Confirmation:</label>
            <input type="password" id="passwordConformation" name="passwordConformation" required>
            <input type="submit" value="Signup">
          </form>
        </div>
      </div>
    </div>
{% endblock %}