{% extends "layout.html" %}

{% block title %}{{ tweet.content }} {% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="tweet">
  <div class="tweet-username tweet-timestamp">
	<a href="/user/{{ tweet.userHandle }}">{{ tweet.username }}</a>&#160;&#160;
	<a href="/user/{{ tweet.userHandle }}" class="user-handle">@{{ tweet.userHandle }}</a>
	<span>&#160;·&#160;</span>
	<a href="/tweets/{{ tweet.id }}" class="user-handle">{{ tweet.timestamp|format_timestamp }}</a>
  </div>
  <div class="tweet-content">
	<a href="/tweets/{{ tweet.id }}">{{ tweet.content|format_tweet }} {{ tweet.hashtag }}</a>
  </div>
  <button class="like-btn" data-tweet-id="{{ tweet.id }}">Like</button>
<script>
  document.querySelectorAll(".like-btn").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      const tweetId = e.target.dataset.tweetId;
      const response = await fetch("/like_tweet", {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: `tweetId=${tweetId}`,
      });
      if (response.ok) {
        // Update the like count on the front-end
      }
    });
  });
</script>

</div>
{% endblock %}